body {
    background-color: #FFF;
    margin-top: 80px;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #36454F;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: #D3D3D3;
    text-decoration: none;
}

li > a:hover {
    color: #FFF;
}

.banner-block {
    display: flex;
    padding: 0 auto;
    margin: 0 auto;
    align-items: center;
}