body {
    background-color: #fafafa;
    margin-top: 80px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: black;
    opacity: 85%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header nav {
    padding-left: 225px;
    text-align: center;
    position: relative;
    display: inline-block;
}

header li {
    margin: 20px;
}

header li a {
    color: #B3B6B7;
    text-decoration: none;
}

li > a:hover {
    color: #FFF;
}

.center-banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.center-hpg {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    height: 50%;
    width: 100%;
    border-style: solid;
    border-color: #fafafa;
    border-width: .75em;
}

.square-grid {
    margin: 0;
    padding: 0;
    height: 50%;
    width: 50%;
    display: inline;
}
.square-grid-img {
    margin: 0;
    padding: 0;
    height: 50%;
    width: 50%;
    display: inline;
}